
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #009FB7;
  --secondary: #FED766;
  --text-color: #272727;
  --text-dim: #a3a1ad;
  --text-light: #EFF1F3;
  --error: #ff2b40;
}

body {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/* Navigation Styles */
.nav-bar {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--text-light);
}

.nav-bar .logo {
  font-size: 1.75rem;
  color: var(--primary);
  font-weight: bold;
}

.nav-items {
  display: flex;
  gap: 32px;
}

.nav-items a {
  font-size: 1.1rem;
  color: var(--primary);
}

.nav-items a:hover {
  color: var(--secondary);
}

/* Page Styles */
.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

/* Blog Preview */
.blog-preview {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.blog-preview .blog-img {
  max-width: 300px;
}

.blog-preview .content {
  max-width: 600px;
}

.blog-preview .content a h1 {
  color: var(--text-color);
}

.blog-preview .content .info {
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--text-dim);
}

.blog-author {
  margin-right: 16px;
  color: var(--text-dim);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .blog-preview {
    flex-direction: column;
    gap: 10px;
  }

  .blog-preview .blog-img{
    max-width: 100%
  }
}


/* Blog Details */
.blog-details .image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
  margin: 20px 0px;
}

.blog-details .image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.blog-details h1, .author {
  display: block;
  text-align: center;
}

.blog-details .author {
  color: var(--text-dim);
}

.blog-details .content p {
  line-height: 1.5rem;
}

.blog-details .edit-blog {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.blog-details .edit-blog a {
  background-color: var(--text-dim);
  border-radius: 5px;
  padding: 2px 7px;
  color: var(--text-light);
}

.blog-details .edit-blog a:hover {
  background-color: var(--secondary);
}

.blog-details .edit-blog a:hover {
  color: var(--text-color);
}

.blog-details .edit-blog .edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

/* Login and Register Page */
.login-page, .register-page {
  max-width: 300px;
  margin: 0 auto;
}

.login-page h2, .register-page h2 {
  margin-bottom: 16px;
  text-align: center;
}

.login-page form input, .register-page form input {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 8px;
  color: var(--text-color);
  border: 1px solid var(--text-dim);
  border-radius: 8px;
  font-size: 1rem;
}

.btn {
  margin-top: 8px;
  width: 100%;
  padding: 7px;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.dis {
  background-color: var(--text-dim);
  border: 1px solid var(--text-dim);
  cursor: not-allowed;
}

.login-text, .register-text {
  margin-top: 24px;
}

.login-text a, .register-text a {
  color: var(--primary);
}

.login-text a:hover, .register-text a:hover {
  color: var(--secondary);
}


/* Create Post Page */
.create-page h2 {
  margin-bottom: 16px;
}

.create-form input {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 8px;
  color: var(--text-color);
  border: 1px solid #cacaca;
}

.error-container {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  font-size: 0.8em;
}